.contenedor {
  margin: 0 1rem 1rem 1rem;
}
.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
  color: black;
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #009640;
  visibility: hidden;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav-link:hover:before {
  visibility: visible;
  width: 100%;
  left: 0;
}
li.nav-item {
  font-size: 1.5rem;
}
.btn-primary:hover {
  filter: brightness(90%);
}

/* Animación del texto */
.text-animation {
  animation: typing 3s steps(40), blink-caret 0.75s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
